.projects-container {
  width: 85%;
  max-width: 1200px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  margin-top: 50px; /* push down below navbar */
  transition: all 0.3s ease;
}

.projects-title {
  text-align: center;
  font-size: 2rem;
  color: #060e1a;
  margin-bottom: 20px;
 
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-btn {
  background: transparent;
  border: 2px solid #060e1a;
  color: #060e1a;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
  background: #060e1a;
  color: palegoldenrod;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.tech-tags {
  margin: 10px 0;
}

.tech-tag {
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 2px 10px;
  margin: 4px;
  font-size: 0.8rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  padding: 25px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* ensures button stays at bottom */
  height: 300px; /* fixed height so all cards align */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.view-btn {
  margin-top: auto; /* pushes to bottom */
  width: 100%;
  background: #060e1a;
  border: none;
  color: palegoldenrod;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px; /* small curve like in contact */
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: palegoldenrod;
  color: #060e1a;
  transform: scale(1.03);
}
